<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
   
    <script src="scripts/angular.js"></script>
    <script src="scripts/nested-repeat.js"></script>
    <title></title>
</head>
<body ng-app="app">
    <div ng-controller="nestedRepeatController">
        <ul>
            <li ng-repeat="country in countries">
                {{country.name}} - Index{{$index}}
                <ul>
                    <li ng-repeat="city in country.cities">
                        {{city.name}} - Index{{$index}} - ParentIndex -{{$parent.$index}}
                    </li>
                </ul>
            </li>
        </ul>
    </div>

</body>
</html>